<section class="list-details" *ngIf="list">
  <div class="h-90">
    <h1 class="text-center">List Items</h1>
    <ng-container *ngFor="let item of list.items">
      <mat-checkbox
        color="accent"
        class="list-item-check"
        matRipple
        matRippleColor="primary"
        (change)="updateItemStatus(item, $event)"
      >
        <span [class.checked]="item.isComplete">{{item.name}}</span>
      </mat-checkbox>
    </ng-container>
  </div>
  <div class="h-10 flex-between">
    <mat-form-field appearance="outline" class="w-85">
      <mat-label>Add Item</mat-label>
      <input matInput type="text" class="w-100" [(ngModel)]="newItem">
    </mat-form-field>
    <button mat-raised-button color="accent" class="add-item-button" [disabled]="!newItem" (click)="addItem()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>
