<section class="dashboard">
  <div class="mb-1">
    <h1 class="mb-1">My Lists:</h1>
    <ng-container *ngFor="let list$ of listsCreated">
      <div class="my-2">
        <app-list-display-card
          [list]="list$ | async"
        ></app-list-display-card>
      </div>
    </ng-container>
  </div>

  <div class="mt-4 mb-1">
    <h1 class="mb-1">Group Lists:</h1>
    <ng-container *ngFor="let list$ of listsEditor">
      <div class="my-2">
        <app-list-display-card
          [list]="list$ | async"
        ></app-list-display-card>
      </div>
    </ng-container>
  </div>

<!--  <div class="mt-4">-->
<!--    <h1 class="mb-1">Groups:</h1>-->
<!--    <ng-container *ngFor="let group$ of groups">-->
<!--      <div class="my-2">-->
<!--        <app-list-display-card-->
<!--          [list]="group$ | async"-->
<!--        ></app-list-display-card>-->
<!--      </div>-->
<!--    </ng-container>-->
<!--  </div>-->
</section>
