.authentication {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.login {
  height: 75%;
}

.auth-form {
  display: flex;
  width: 85%;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  .mat-form-field {
    margin: .75rem 0;
  }
}

.auth-form-actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 85%;
  }
}
