.display-card {
  position: relative;
  background: var(--accent);
  color: white;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}

.list-icon {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.details {
  margin-left: .5rem;
}

.created_details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.delete-button {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  .mat-button-wrapper {
    line-height: 18px;
  }
  .mat-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;
  }
}
