$default-accent: (
  50 : #fff9e0,
  100 : #ffefb3,
  200 : #ffe580,
  300 : #ffda4d,
  400 : #ffd226,
  500 : #ffca00,
  600 : #ffc500,
  700 : #ffbd00,
  800 : #ffb700,
  900 : #ffab00,
  A100 : #ffffff,
  A200 : #fffaf2,
  A400 : #ffe7bf,
  A700 : #ffdea6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
