<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="dash-background">
    <div class="dash-background-content">
      <!--TODO: Put this in a component-->
      <h1>Lists</h1>
      <input class="search" type="text" placeholder="search for a list...">
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
    <div class="bottom-actions">
      <button mat-mini-fab color="accent">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-fab color="accent" class="primary-button">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="drawer.open()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-sidenav-container>
